body{
    background-color: #313131;
}
*{
margin: 0;
font-family: arial;
font-size: 20px;
}
#escrever{
    padding: 3% 2% 5%;
    background-color: #1b1b1b;
    width: 96%;
    height: 20px;
    color: #fff;
    text-align: end;
    border: 0;
    margin-bottom: 30px;
    text-decoration: none;
}
button{
    color: #fff;
    text-align: center;
    width: 25%;
    margin: 1%;
    margin-bottom: 20px;
    background-color: #6e6e6e;
    padding: 25px;
    border: 0;
    border-radius: 40px;
    margin-left: 5%;
    cursor: pointer;
}
#reset{
    background-color:#464646;
}
#botaoigual{
    background-color: rgb(138, 184, 214);
    color: black;
}
